body {
    background: #f9f9f9;
}

@font-face {
    font-family: Open Sans; /* Гарнитура шрифта */
    src: url('../fonts/Open-Sans.ttf');/* Путь к файлу со шрифтом */
}

.container {
    width: 1061px;
    margin: 0 auto;
    padding-bottom: 60px;
    border-right: 2px solid #dbdbdb;
    border-left: 2px solid #dbdbdb;
    background: #fff;
}

.logo {
    padding: 50px 50px 36px 46px;
}

.navigation {
    width: 966px;
    display: block;
    margin: 0 auto;
    background: #535252;
}

.navigation li {
    display: inline-block;
}

.navigation  li a {
    display: inline-block;
    padding: 10px 30px 11px 20px;
    color: #fff;
    font-family: Open Sans;
    font-size: 14px;
}

.navigation li a:hover {
    border-right: 1px solid #838383;
    border-left: 1px solid #838383;
    padding: 10px 29px 11px 19px;
    background: #353535;
}

.left-menu {
    display: block;
    width: 240px;
    margin-top: 40px;
    margin-left: 47px;
    float: left;
    border-bottom: 1px solid #c8c8c8;
}

.left-menu  li {
    display: block;
    border-top: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
}

.left-menu  li a {
    display: block;
    color: #656363;
    font-family: Open Sans;
    font-size: 13.33px;
    padding: 9px 0 11px 22px;
}

.left-menu li a:hover {
    padding-top: 9px;
    padding-left: 23px;
    background: #f9f9f9;
    color: #2c2c2c;
}

.content {
    width: 720px;
    margin: 40px 50px 0 0;
    float: right;
}

.content .img {
    margin: 0 auto;
    margin-left: 44px;
    border: 1px solid #c8c8c8;
}

.content img {
    display: block;
    margin: 45px auto;
}

.content .info {
    color: #2c2c2c;
    font-family: Open Sans;
    font-size: 13.33px;
}

.content .info p {
    margin-top: 35px;
    margin-left: 68px;
    line-height: 1.5;
}

.clearfix:after {
    content: " ";
    clear: both;
    display: table;
}

.footer {
    width: 966px;
    margin: 0 auto;
    background: #e1e1e1;
}

.navigation-bottom {
    display: inline-block;
}

.navigation-bottom li {
    display: inline-block;
}

.navigation-bottom li a {
    display: block;
    padding: 9px 30px 11px 26px;
    color: #2c2c2c;
    font-family: Open Sans;
    font-size: 13px;
}

.navigation-bottom li a:hover {
    text-decoration: underline;
}

.foot {
    display: inline-block;
    padding: 9px 25px 11px 65px;
    float: right;
    color: #2c2c2c;
    font-family: Open Sans;
    font-size: 13px;
}